page-contact-signup {
.scroll-content{
    background: url("../assets/images/background-imageCLEAN.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}    
    ion-label{ 
        color:black; 
        padding-left: 0.9rem; 
        margin:0 !important ;
    
    }
    ion-icon{ 
        padding-left: 20rem ; 
    }
    
    .ion-btn{
         text-transform: none;
    }
    .buttom{ 
        padding-top: 20rem ; 
    }
    .top { 
        padding-top:1rem ;
    }

}
