page-vr-video {
	.title {
	
		color:#F84838;
		display:inline-block;
		font-weight:bold;
		font-size:1.4rem

}
	.h3{
		color:#F84838;
		display:inline-block;
		font-weight:bold;
		font-size:1.4rem

	}
    .my-label {
  font-size: 4em;
}

    .bottom{ 
        padding-bottom: 1rem ;
    }
    
}
