


<ion-header>


  <main-header > </main-header>
</ion-header>


<ion-content has-subheader="true" class="cards-bg" class="separatingBG">
  <div text-center>
    <ion-spinner [hidden]="!isLoading" color="primary"></ion-spinner>
    <p class="error-message" text-center [hidden]="!errorMessage">{{errorMessage}}</p>
    <button ion-button block icon-left (tap)="loadMediaSamples()" [hidden]="!errorMessage">
      <ion-icon name="refresh"></ion-icon>
      Retry
    </button>
  </div>

  <!-- <ion-card>
    <div (tap)="openVideoClick(media)">
      <media-sample-item [mediaSample]="openVideo"></media-sample-item>
    </div>
  </ion-card> -->

  <ion-card *ngFor="let media of mediaSamples" style="color:#404040">
    <div *ngIf="media.university_id!=null">
      <div style=" padding-top:1rem; padding-bottom:1.5rem">
        <p style="padding-left:1.5rem;text-align:left;float:left">
          <strong>{{media.video_name}}</strong>
        </p>
        <div style="padding-right:1.5rem;text-align:right; float:right" (click)="selectQuality(media)">
          <ion-icon name="settings" [color]='settingsColor' style="font-size:2.5rem;padding-bottom:0.3rem"></ion-icon>
        </div>
      </div>
    </div>
    <div (tap)="openVideoClick(media)">
      <media-sample-item [mediaSample]="media"></media-sample-item>
    </div>

    <div *ngIf="media.university_id!=null">
      <div style="padding-right:1.5rem;float:right; ">
        <strong>Duration: </strong>
        <span style="color:green">
          {{media.duration}}
        </span>
      </div>


      <br>
      <div style="padding-left:1.5rem;padding-bottom:1.5rem; float:left; font-size: 1.2rem;width:100%">
        {{media.description}}
      </div>
      <br>

      <div class="bottom">
        <div style="padding-left:1rem;float:left; ">
          <button ion-button round style="display: inline-block; font-size:1.2rem" color="grey" (click)="selectPart(media)">
            <strong style="padding-right:1rem"> Jump to </strong>
            <span style="color:white">
              <ion-icon name="arrow-down"> </ion-icon>
            </span>
          </button>
        </div>
        <div style="padding-right:1rem;float:right; padding-bottom:1rem">
          <button ion-button round style="display: inline-block;font-size:1.2rem" color="grey" (click)="viewMore(media)">
            <strong style="padding-right:1rem"> View More </strong>

          </button>
        </div>

      </div>
    </div>
  </ion-card>
</ion-content>