page-universities {
<<<<<<< HEAD
.left{ 
    padding: 1rem 0 0 1rem ;
    float: left;
}
=======
background: #eff0f1;

>>>>>>> parent of dc5f848... Revert "Anany's Latest Changes before upload"
.lastRow{ 
    padding-bottom: 1rem; 
}
.title{ 
    font-weight: bold ; 
    
}
}

.ios{
page-universities {

.ion-seachbar{
	padding-bottom: 2rem;
}
}
}